h1 {
    font-family: sans-serif;
    color: aqua;
    border-bottom: 1px solid blue;
}

#text-blue {
    color: blue;
}

.text-ornflowerblue {
    color: cornflowerblue;
    font-weight: bold;
}

.class1.class2 {
    background-color: greenyellow;
    font-size: 16px;
}

.text-darkgreen li {
    font-size: 20px;
    color: darkgreen;
}